.botao-velocidade {
  color: #919191;
  background-color: transparent;
  border-radius: 50%;
  padding: 0;
  width: 45px;
  height: 45px;
  border: 3px solid rgb(145, 145, 145);
  font-size: 12px;
  font-weight: 500;
  
}